{% extends 'main.html' %}

{% block title %}
Donations
{% endblock title %}

{% block content %}
{% load static %}
<h1>Make a Donation</h1>
<table>
    <tr>
        <td style="vertical-align: top;">
            <form action="{% url 'submit_donation' %}" method="post">
                {% csrf_token %}
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name"><br><br>

                <label for="amount">Amount:</label><br>
                <div style="display: flex; align-items: center;">
                <span>$</span>
                <input type="number" id="amount" name="amount" step="1" style="flex: 1; margin-left: 5px;"><br>
                </div><br>

                <label for="date">Date:</label><br>
                <input type="date" id="date" name="date"><br><br>

                <label for="message">Message:</label><br>
                <textarea id="message" name="message" rows="4" cols="50"></textarea><br><br>

                <button style="padding: 10px 20px; background-color: #28a745; color: white; border: none; border-radius: 4px; cursor: pointer;">Donate</button>
            </form>
        </td>
        <td style="vertical-align: top; padding-left: 20px;">
            <div>
                <img src="{% static 'base/people.jpg' %}" alt="People">
            </div>
            <p>
                Your generous donations help us continue our mission to support those in need.
                With your contribution, we can provide essential services, support programs, and make a significant impact in our community.
                Every donation, no matter how small, brings us one step closer to achieving our goals. Thank you for your support!
            </p>
            <h2>Why make a monthly donation?</h2>
            <p>
                As a charity organization, we collaborate with families, communities, and governments in over several locations to address
                the fundamental and immediate issues affecting communities. Our mission is to provide long-term support that brings lasting
                change for people and meets their immediate needs.
            </p>
            <p>
                By regularly donating, you join us in our long-term efforts to protect the world's most vulnerable people. 
                Your monthly contributions can help prevent serious illnesses and provide essential resources, making a significant and 
                lasting impact on people's lives.
            </p>
        </td>
    </tr>
</table>
{% endblock content %}
